.dimmer {
    z-index: 1000;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    background-color: rgba(black,.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .dimmer__content {
        position: sticky;
        top: 0; bottom: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(red,0.1);
    }
}