.wrapper {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 290px;
        height: 100vh;
    }
    .main {
        margin-left: 290px;
        display: block;
    }
}