.wrapper {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: $sidebar-width;
        height: 100vh;
    }
    .main {
        margin-left: $sidebar-width;
        display: block;
    }
}

.page {
    &__header {
        .title {
            small {}
        }
        .subTitle {}
    }
    &__body {}
    &__footer {}

    .page__title {
        margin: 0;
        padding: 0;
    }
    .page__subTitle {

    }
}
