html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f7f7;
}
.pageTitle {
    strong {}
    em {}
}

.description{
    p{}
    p a{}
    p a:hover{}
    p strong{}
    table{}
    table tr{}
    table tr:nth-child(2n){}
    table th,
    table td{}
    table th{}
    table td.empty,
    table th.empty{}
  }