*, *:before, *:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: $body-font-family;
    font-size: $body-font-size;
    background-color: $body-bg;
    color: $body-text;
}
.pageTitle {
    strong {}
    em {}
}

.description{
    p{}
    p a{}
    p a:hover{}
    p strong{}
    table{}
    table tr{}
    table tr:nth-child(2n){}
    table th,
    table td{}
    table th{}
    table td.empty,
    table th.empty{}
  }