.container {
    max-width: $container;
    width: 100%;
    margin: 0 auto;
    &--fluid {
        max-width: initial;
    }
}
.section {
    padding: 5% 0;
}
.truncateText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}