html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

$xs: 599px; 
$sm: 600px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$breakpoints: (
	'xs': 599px,
	'sm': 600px,
	'md': 768px,
	'lg': 992px,
	'xl': 1200px
);


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {background: pink;}
}



@mixin media-min-width($value) {
	@media only screen and (min-width: $value) {
		@content;
	}
}
@mixin media-max-width($value) {
	@media only screen and (max-width: $value) {
		@content;
	}
}

.grid {
	display: grid;
	@each $key, $value in $breakpoints {
		@if $key == 'xs' {
			@include media-max-width($value) {
				@for $i from 1 through 12 {
					&.grid-#{$key}-#{$i} {
						grid-template-columns: repeat($i, 1fr);
					}
					&.grid-gap-#{$key}-#{$i*5} {
						grid-gap: $i * 5;
					}
				}
			}
		} @else {
			@include media-min-width($value) {
				@for $i from 1 through 12 {
					&.grid-#{$key}-#{$i} {
						grid-template-columns: repeat($i, 1fr);
					}
					&.grid-gap-#{$key}-#{$i*5} {
						grid-gap: $i * 5;
					}
                }
			}
		}
	}
}


.btn {
    display: inline-block;
    
    background-color: silver;
}
.btn-group {
    display: inline-flex;
    .icon {
        background-color: rgba(black,.1);
        padding: 0 10px;
    }
    .btn {
        padding: 0 10px;
    }
}

.tab {
    &__control {
        .tab__link {
            &.active {
                color: red;
            }
        }
    }
    &__container {
        .tab__content {
            display: none;
            &.active {
                display: block;
            }
        }
    }
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    transform: scaleX(0);
    overflow: hidden;
    transition: .6s;
    .modal__container {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 5vh;
        .modal__dimmer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            background-color: rgba(black,.8);
        }
        .modal__content {
            position: relative;
            width: 500px;
            height: 100px;
            margin: auto;
            background-color: #fff;
            padding: 10px;
            transform: translateY(-100vh);
            transition: transform .3s;
            .modal__header {
                display: flex;
                .title {
                    flex: 1;
                }
                .close {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .modal__body {}
            .modal__footer {
                
            }
            .modal__actions {}
        }
    }
    &.active {
        overflow: initial;
        transform: scaleX(1);
        transition: transform 0s;
        .modal__container {
            .modal__dimmer {
            }
            .modal__content {
                transform: translateY(0);
            }
        }
    }
}


.slideshow {
    overflow: hidden;
    .slideshow__container {
        display: flex;
        transition: transform 0.35s ease-in-out;
        .slide {
            position: relative;
            .slide__image {
                width: 100vw;
                height: 100%;
                display: block;
                img {
                    display: block;
                    width: 100vw;
                    height: 100%;
                    vertical-align: middle;
                    object-fit: cover;
                }
            }
            .slide__container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
            }
            .slide__content {
                position: relative;
                color: white;
                .title {
                    font-size: 40px;
                }
                .desc {
                    font-size: 20px;
                }
            }
        }
    }
    .slideshow__control {
        .btn-next, .btn-prev {
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background-color: black;
            color: white;
            font-size: 11px;
            &:hover {
                cursor: pointer;
            }
        }   
    }
}


.carousel {
    overflow: hidden;
}
.carousel__container {
    list-style-type: none;
    display: flex;
    overflow: hidden;
    li {
        // min-width: 25vw;
        a { 
            display: block;
            background-color: #eee;
            width: 100%;
            height: 100%;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    li:nth-child(even) {
        a {
            background-color: #ddd;
        }
    }
    li:last-child {
        a {
            margin-right: 0;
        }
        
    }
}
.carousel__control {
    .btn-next, .btn-prev {
        border: none;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: black;
        color: white;
        font-size: 11px;
        &:hover {
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
    }
}


.gridPinterest {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    grid-auto-rows: 100px;
    grid-gap: 20px;
    .gridItem {
        // background-color: #efefef;
        box-shadow: inset 0 0 0 1px #eee;
        position: relative;
        border-radius: 5px;
        transition: .5;
        .gridItem__content {
            display: block;
            padding: 10px;
            img {
               
                width: 100%;
                display: block;
                // vertical-align: middle;
                border-radius: 5px;
                &.full {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    // margin: 10px;
                    width: calc(100% - 20px);
                    height: calc(100% - 20px);
                    object-fit: cover;
                }
            }
        }
        &:hover {
            cursor: pointer;
            box-shadow: 0 2px 10px #ccc;
        }
        
    }
}

.truncateText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    color: black;
    width: 200px;
    height: 100px;
    border: 1px solid;
    position: relative;
    overflow: auto;
}
.dimmer {
    z-index: 1000;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    background-color: rgba(black,.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .dimmer__content {
        position: sticky;
        top: 0; bottom: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(red,0.1);
    }
}