$primary: #bb974e;//#59a3fc;
$accent: #ff0040;
$text: #222;


$container: 1170px;

$header-height: 80px;
$form-height: 40px;
$form-border: #ddd;


$xs: 599px; 
$sm: 600px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$breakpoints: (
	'xs': 599px,
	'sm': 600px,
	'md': 768px,
	'lg': 992px,
	'xl': 1200px
);




