
.grid {
	display: grid;
	@each $key, $value in $breakpoints {
		@if $key == 'sm' {
			@include media-max-width($value) {
				@for $i from 1 through 12 {
					&.grid-#{$key}-#{$i} {
						grid-template-columns: repeat($i, 1fr);
					}
					&.grid-gap-#{$key}-#{$i*5} {
						grid-gap: $i * 5;
					}
				}
			}
		} @else {
			@include media-min-width($value) {
				@for $i from 1 through 12 {
					&.grid-#{$key}-#{$i} {
						grid-template-columns: repeat($i, 1fr);
					}
					&.grid-gap-#{$key}-#{$i*5} {
						grid-gap: $i * 5;
					}
                }
			}
		}
	}
	.grid__cell {
		background-color: aliceblue;
		&:nth-child(even){
			background-color: beige;
		}
	}
}